.container {
    margin: 40px auto;
  }
  
  .card-body {
    padding: 10px 40px;
  }
  
  .form-group>*:first-child {
    font-weight: bold;
  }
  
  #calc-imc-btn {
    font-size: 1.1em;
  }
  
  #calc-imc-btn .fa {
    font-size: 1.1em;
  }
  
  .form-control[readonly] {
    background-color: #ffffff;
  }
  
  .btn {
    margin-top: 1em;
    background-color: rgba(159, 193, 245, 0.815);
    border-color: rgba(0, 0, 0, 0.705);
  }
  
  .btn.focus,
  .btn:focus {
    box-shadow: none;
  }